package {{config.dtoPackage}};

{{#entity.requestDtoImports}}
import {{import}};
{{/entity.requestDtoImports}}
{{#config.useLombok}}
import lombok.AllArgsConstructor;
import lombok.Builder;
import lombok.Data;
import lombok.NoArgsConstructor;
{{/config.useLombok}}
import {{config.namespace}}.validation.constraints.NotNull;

{{#config.useLombok}}
@Data
@Builder
@NoArgsConstructor
@AllArgsConstructor
{{/config.useLombok}}
public class {{entity.name}}RequestDto {

{{#entity.nonIdFields}}
    private {{requestDtoType}} {{requestDtoFieldName}};
{{/entity.nonIdFields}}
{{^config.useLombok}}
{{#entity.nonIdFields}}

    public {{requestDtoType}} get{{requestDtoFieldNameCapitalized}}() {
        return {{requestDtoFieldName}};
    }

    public void set{{requestDtoFieldNameCapitalized}}({{requestDtoType}} {{requestDtoFieldName}}) {
        this.{{requestDtoFieldName}} = {{requestDtoFieldName}};
    }
{{/entity.nonIdFields}}
{{/config.useLombok}}
}
